<section>
  <h1>Historia </h1>
  <p>Es una película de acción estadounidense, dirigida por Rob Cohen y protagonizada por Vin Diesel y Samuel L. Jackson.
    Xander Cage (Vin Diesel), es un delincuente amante de los deportes de riesgo que hasta el momento ha sabido eludir la justicia. Para evitar ir a la cárcel Xander es reclutado por el agente Gibbons (Samuel L. Jackson) y se ve obligado a colaborar con el gobierno de los Estados Unidos, convirtiéndose en el agente "XXX", una nueva clase de agente secreto. Su misión es infiltrarse en una peligrosa banda rusa Anarquía 99, dedicada al tráfico ilegal de armas nucleares, liderada por el carismático Yorgi (Marton Csokas) y su hermosa e insensible novia Yelena (Asia Argento).
  </p>
</section>

<section>
  <h1>Motivo por que le gusta</h1>
  <p>Porque es una muy buena pelcula de accion y de mucho riesgo ya que sus ecenas son muy bien echas.
  </p>
  <h1>Peronajes</h1>
  <p>Vin Diesel


     Samuel L. Jackson
    
    Asia Argento
    
    Marton Csokas
    
    Joe Bucaro
    
    Danny Trejo
    
    Eve
    
    </p>
</section>

<section>
<h1>Otras peliculas y series </h1> 
  <section>
    <button><h3>Rapidos y furiosos </h3>
      <p>Dom Toretto y sus familias se enfrentan al peor enemigo imaginable, uno llegado desde el pasado con sed de venganza, dispuesto a cualquier cosa con tal de destruir todo aquello que Dom ama.</p>
      <h3>La monja</h3></button>
    
  </section>
</section>



